.btn {
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  outline: none;
  padding: 5px 20px;
}

.btn--primary {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn--primary:hover {
  background-color: hsl(200, 100%, 35%);
}

.btn--danger {
  background-color: hsl(0, 100%, 50%);
  color: white;
}

.btn--danger:hover {
  background-color: hsl(0, 100%, 35%);
}