.recipe-edit {
  max-height: 100%;
  overflow-y: auto;
  padding: 30px;
  padding-top: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
}

.recipe-edit__remove-button-container {
  text-align: end;
}

.recipe-edit__remove-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  outline: none;
  padding: 0;
}

.recipe-edit__details-grid {
  column-gap: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
}

.recipe-edit__label {
  font-weight: bold;
}

.recipe-edit__input {
  border: 1px solid black;
  border-radius: 5px;
  font-size: inherit;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

textarea.recipe-edit__input {
  height: 200px;
  resize: none;
}

.recipe-edit__ingredient-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
  margin-left: 10px;
  margin-top: 10px;

}

.recipe-edit__add-ingredient-button-container {
  margin-top: 20px;
  text-align: center;

}

@media (max-width: 1000px) {
  .recipe-edit__details-grid,.recipe-edit__ingredient-grid {
    grid-template-columns: 1fr;

  }

}